[2015-12-15 21:47] marteinn opened #1 "Add python 3 support"

[2015-12-15 21:47] marteinn opened #2 "Add travis tests against Django 1.10"

[2015-12-15 21:48] marteinn opened #3 "Include a full Django example with react.js included to demonstrate functionality"

[2015-12-16 07:03] danielfrojd opened #4 "Rename to django-react-templatetags"

[2015-12-16 07:28] marteinn commented on #4
Done!

https://travis-ci.org/Frojd/django-react-templatetags
https://pypi.python.org/pypi/django_react_templatetags/

[2015-12-16 07:28] #4 closed

[2015-12-16 19:12] marteinn commented on #1
commit d4f68907e0e2bb5e9e7212defb5f6a376ee71871 specifies python 3.4 support

[2015-12-16 19:12] #1 closed

[2016-01-12 09:21] marteinn opened #5 "Add optional support for targeting by class instead of id"

[2016-02-07 19:21] marteinn opened #6 "Add utility for converting DRF views to json output (through serializer="

[2016-05-26 08:25] martinjobb opened #7 "AssertionError when checking if lib is registred"
´assert CONTEXT_KEY in context, "react_context_processor must be added to TEMPLATE_CONTEXT_PROCESSORS"  # NOQA´

[2016-07-07 14:57] marteinn commented on #7
Changed validation method on render. Is out in 2.1.1 @martinjobb

[2016-07-07 14:57] #7 closed

[2016-10-27 05:39] marteinn opened #8 "Support for dynamic component names?"
[code]

[2016-10-31 06:44] #2 closed

[2016-11-17 21:17] #8 closed

[2017-06-02 11:21] heesienooi opened #11 "Auto escape props data?"

[2017-08-18 12:27] iksototh opened #12 "serializer DjangoJSONEncoder should be removed"
Since django is in version 1.11 now this function is already included, so it should be removed from templatetags

[2017-10-09 06:01] marteinn opened #14 "Create setting and filter for removing "null" values before creating json representation"

[2017-10-09 06:05] marteinn opened #15 "Create deprecation plan for react 15"

[2017-10-09 06:20] marteinn commented on #12
Should be removed after Django 1.10 LTS Expires (https://www.djangoproject.com/weblog/2015/jun/25/roadmap/)

[2017-10-11 05:51] marteinn opened #16 "Add timeout to requests"

[2017-11-13 11:57] #16 closed

[2017-11-13 11:57] #15 closed

[2017-11-20 07:29] marteinn opened #17 "Context are not passed to_react_representation when running under SSR"

[2017-11-30 11:57] #17 closed

[2017-12-06 06:58] marteinn opened #18 "Bug: to_react_representation fires twice when using SSR"

[2017-12-06 10:42] marteinn commented on #18
Solved in: e4f16902dd5cb42c23f6a0192cb735d16b627382

[2017-12-06 10:42] #18 closed

[2017-12-06 10:42] marteinn commented on #6
This should be done in `to_react_representation()`

[2017-12-06 10:42] #6 closed

[2018-01-16 15:34] rinti opened #19 "Support React 15 out of the box?"
I don't know if it's actually necessary since it's pretty easy to override react_print.html, but ReactDOM.hydrate is only available from React >= 16.

It would be fairly straight forward to support both though. Check if ReactDOM.hydrate is a function, if so use it - else use ReactDOM.render.

Or just mention it in the readme.

[2018-01-16 20:33] marteinn commented on #19
Thanks for the ideas :)

We took a deliberate choice to drop react 15, with the motivation that the react community will move over to 16 pretty quickly. The React 15 support was dropped in November (and was manifested in a major/breaking release). But I think that we missed in communicating the 16+ requirement, so I have added it into the readme.

[2018-01-16 20:34] #19 closed

[2018-02-01 14:52] egoens commented on #3
I second this thought. At the very least, point users to a preferred or suggested method of loading react.js with Django.

Being used to using React with create-react-app and having something work out of the box is much more seamless than including React into an application framework such as Django.

Currently, I'm struggling with accessing ReactDOM which means I'm not able to get React loading in

[2018-02-01 15:22] rinti commented on #3
Hi!

We're using our own webpack config (which is opensource, [react-sass-starterkit](https://github.com/Frojd/react-sass-starterkit)). Then we include the javascript file in our base.html file like so: [base.html](https://github.com/Frojd/Frojd-Django-Boilerplate/blob/master/Example-Project/src/templates/base.html#L31).

Let me know if I can help you further.

[2018-02-28 11:46] DaxitaRajput opened #20 "Uncaught ReferenceError: ReactDOM is not defined"
I got this error(  (index):14 Uncaught ReferenceError: ReactDOM is not defined ) in console while run this code snippet. i am using django 1.11.2. As i am beginner in ReactJS. please help me out.

[2018-02-28 11:52] DaxitaRajput commented on #20
Thanks @marteinn But, I have already added ReactJS in my project, since i am getting this error.

[2018-02-28 12:12] marteinn commented on #20
@DaxitaRajput Have you also added [react-dom](https://reactjs.org/docs/react-dom.html) to your project?

[2018-02-28 12:53] DaxitaRajput commented on #20
yes

[2018-02-28 13:15] marteinn commented on #20
@DaxitaRajput And added to the global scope? (Window/Document)

[2018-02-28 14:35] marteinn commented on #20
@DaxitaRajput After you import ReactDOM, add it to window. Like this: `window.ReactDOM = ReactDOM` or `window.ReactDOM = require('react-dom');`

[2018-03-01 12:42] #20 closed

[2018-03-05 10:52] marteinn opened #21 "Add to_react_representation to RepresentationMixin"
Today we get a lot of warnings when working with `RepresentationMixin` due to `react_representation` not being implemented. `react_representation` is deprecated and should be removed from mixin and replaced with `to_react_representation`.

[2018-03-15 20:11] marteinn commented on #21
Fixed in 55a056346c2707b80663c56b59e58724cc72ace6

[2018-03-15 20:11] #21 closed

[2018-03-15 20:12] marteinn commented on #12
Fixed in 9475bb9b05f49929fcb6e83fc020f0fce6cfa8e4

[2018-03-15 20:12] #12 closed

[2018-03-15 20:17] marteinn commented on #5
This will not happen, we favour id targeting and this library allows you to supply a custom id for targeting.

[2018-03-15 20:17] #5 closed

[2018-03-15 20:19] marteinn commented on #3
I have added this comment in the readme regarding the required ReactDOM exposure, https://github.com/Frojd/django-react-templatetags/commit/9651e6401abe1657591e566a61e1c2d77a41cd20

[2018-03-15 20:19] #3 closed

[2018-03-15 20:20] marteinn commented on #3
In general, this library wont ship with a full React.js implementation, but I think pointing to references is a good idea.

[2018-04-19 12:38] normade opened #22 "pip install django_react_templatetags loads version 3.0.0"
It might be already clear to you, but it took me some time to get the point, so I wanted to let you know:
Due to a [typo in the version of your package (missing dots in 300)](https://pypi.org/project/django_react_templatetags/), the version 3.0.0 is taken as the latest version by calling `pip install django_react_templatetags` atm and results in an error since pip 10.0 breaks code using their inte

[2018-05-14 07:04] aleehedl opened #23 "SSR request content_type not application/json"
Hi,

I'm using this library with a custom Node backend for SSR. As this library sends json to the SSR backend it would be logical to set the `Content-type`  header to `application/json`.  This could be achiewed by setting the header manually like this:
[code]

or by using the `json` keyword argument provided by requests like this:
[code]

[2018-05-14 07:29] marteinn commented on #23
Hi @aleehedl! Awesome idea, we have discussed this internally and decided to provide a customizable set of headers, with Content-Type set by default. Will be included in the next release.

[2018-05-17 10:45] aleehedl opened #24 "Option to change ReactTagManager"
Hi,

I would like an option to use a custom `ReactTagManager` by setting it in Django settings:
[code]

Do you think that would be possible?

[2018-05-17 11:39] marteinn commented on #24
Shouldn't be an issue. Will put it into our backlog.

[2018-05-22 10:36] #24 closed

[2018-05-22 18:32] marteinn commented on #23
Added in 39c8b76b3ca93adcebe27f65ea69bc8498c04330

Setting is `REACT_RENDER_HEADERS`.
Default: `{'Content-type': 'application/json', 'Accept': 'text/plain'}`

[2018-05-22 18:32] #23 closed

[2018-06-29 11:24] mikaelengstrom opened #27 "Add a settings reference in readme"
I think these two should be documented and explained in the readme:

REACT_RENDER_HOST = 'http://localhost:3000/'
REACT_COMPONENT_PREFIX = 'Components.'

[2018-07-31 17:48] larsrinn opened #28 "render instead of hydrate if SSR turned off"
Hey,

great work, thanks for the package.

I want to use it without SSR. The `ReactDOM.hydrate` call gives me the following warning in the browser console:
[code]

While scanning through that issue on a (I guess comparable) rails package, I guessed using `ReactDOM.render` instead will solve the problem: https://github.com/reactjs/react-rails/issues/842

And indeed, it did. I could fix it by overwr

[2018-07-31 18:15] larsrinn opened #29 "Individual string props are set to null"
I think the code speaks for itsself:

If I put this into a template
[code]

It is rendered like that:
[code]

[2018-08-01 06:25] larsrinn commented on #29
I can fix it quite easily by replacing the `if-else-block` here: https://github.com/Frojd/django-react-templatetags/blob/5697b3976676d9094a6a2e713fbc6e8fabfef3e7/django_react_templatetags/templatetags/react.py#L211 simply by:

[code]

Is there a reason why you explicitly didn't convert individual string props to `template.Variable`? Performance maybe?

[2018-08-03 03:08] danielmcquillen opened #30 "Guidance on inline React component?"
Thanks for this really great library.

The example in the readme shows a "Menu" React component loaded into part of a larger template. But there isn't any guidance on creating this React component for specific use as an inline component in a Django app using `django-react-templates`.

The example app that is mentioned seems to be a full SPA-like React app built using `react-sass-starterkit`...unsu

[2018-08-09 06:11] marteinn commented on #30
Hi @danielmcquillen!

This library was originally built to cover your use case and we have done a couple of larger projects with multiple inlined components.

Here is an example on how a multi-inline approach would look like:

[code]

The important thing is the run the react_print at the bottom of your base template.

When it comes to the `react-sass-starterkit` integration, it is no requirement.

[2018-08-09 06:15] marteinn commented on #11
Hi @heesienooi! Sorry for the late response, regarding escaping, what do you have in mind? Right not we do not do any type of escaping in the library, we either do it before (example running a model through a serializer) or after (in react).

[2018-08-09 07:11] marteinn commented on #28
There we go: https://github.com/Frojd/django-react-templatetags/commit/48e4713d03f8af69d638c1e36a5330800990a4f5

[2018-08-09 07:26] marteinn commented on #29
This was very straightforward to fix, thanks for the solution! https://github.com/Frojd/django-react-templatetags/commit/87969a4a117bf4af9f65a5863490543a61f989b1

[2018-08-09 07:26] #29 closed

[2018-08-09 07:28] #28 closed

[2018-08-09 07:43] #14 closed

[2018-08-09 07:45] larsrinn commented on #28
It took you 50 minutes from starting to think about it until you had it done with tests and readme updated 😮

[2018-08-09 07:49] marteinn commented on #28
@larsrinn Reason = @frojd hackday :)

[2018-08-09 08:02] marteinn commented on #30
I just added a "Multi Component Example" in the readme that might explain things as well: https://github.com/Frojd/django-react-templatetags#multi-component-example

[2018-08-09 09:00] marteinn commented on #27
Fixed https://github.com/Frojd/django-react-templatetags/blob/develop/README.md#settings

[2018-08-09 09:00] #27 closed

[2018-08-09 21:38] danielmcquillen commented on #30
Thanks for the thoughtful answer, @marteinn. I'll have a look at the example you added.

In the meantime, I found something that worked. (Just wanted to keep moving forward w/o worry about build issues yet). I've been including React files directly in my header:
[code]

And then compiling my test component by running npx in a separate shell to watch the source files I placed (for now) in a separat

[2018-08-10 09:13] marteinn commented on #30
We expose components in webpack by using the `expose-loader`.

First we arrange our components like this:

[code]

In /components/index.js

import Button from './Button';
import Link from './Link';

export {
    Alert,
}

`require('expose-loader?Components!./components');`

https://raw.githubusercontent.com/Frojd/react-sass-starterkit/2f8e68b01c2d1f6f4241028d08c5d2327d131a2d/app/index.js

[2018-08-10 09:13] #30 closed

[2018-08-10 21:26] danielmcquillen commented on #30
Hmm. Using webpack to build an`app.js` seems to imply an SPA. But I'm wondering how you use Webpack to bundle those two React components Button and Link (excluding React and ReactDOM) for separate inclusion into a Django template amonst other template code (not an SPA). But thanks for your help, I realized I've just got more learning to do!

[2018-08-11 00:13] danielmcquillen commented on #30
@marteinn would you mind posting your webpack.config.js?

[2018-08-11 11:03] marteinn commented on #30
@danielmcquillen Sure! This is the webpack config we normally use (https://github.com/Frojd/Wagtail-Boilerplate/blob/master/Client-Project/frontend/webpack.config.js). Its a part of our [react-sass-starterkit](https://github.com/Frojd/react-sass-starterkit).

I think your config looks fine, glad you got it working! 😄

[2018-10-18 14:25] YPCrumble opened #32 "Make the ReactMixin from the example available via this package."
Thanks for building this! It would be helpful if the `ReactMixin` from the example repo were available in this package. Documenting that would have made integrating this library a lot easier (for my use case at least).

Would a PR be welcomed that would do the following?:

- Add `ReactMixin` as a class to be importable from `django_react_templatetags`
- Update documentation to show how to use the

[2018-11-30 05:46] marteinn commented on #32
We are talking about https://github.com/mikaelengstrom/django-react-polls-example/blob/fba5d746ca7fa94cade3c0303660aa936e690d2c/django_project/polls/views.py right? I dont see any harm including a template view mixin, so please go ahead :)

[2018-11-30 05:47] marteinn commented on #11
Closing this due to inactivity

[2018-11-30 05:47] #11 closed

[2019-04-02 13:17] iksototh opened #33 "Add support for x-disable-ssr header"
If x-disable-ssr header is set and true then it should disable the serverside rendering for that request even if REACT_HOST is set

This is to be able to see how the page is rendered without the SSR for testing purposes

[2019-04-22 14:46] marteinn opened #34 "Replace responses with unittest.mock in test suite"

[2019-04-22 18:27] marteinn commented on #33
Fixed 9d23d556fdda738375554c04bf3f0562fded041a and will appear in the next 5.3.0 release.

[2019-04-22 18:27] #33 closed

[2019-04-25 11:08] marteinn opened #36 "Extract the SSR and make it pluggable (using a adapter/middleware pattern)"

[2019-04-28 13:11] marteinn commented on #36
Included in 7f495f1b60e6cd341b4d2fd1e1a74eff7e830e31

[2019-04-28 13:11] #36 closed

[2019-05-26 10:00] umr55766 commented on #34
Hey @marteinn can you please provide some more context to this ? I am willing to take this issue.

[2019-05-26 10:08] umr55766 opened #37 "Requirements file is broken due to missing tests.txt"
I am not able to install the dependencies due to missing tests.txt

[code]
https://github.com/Frojd/django-react-templatetags/blob/52c196f9772a6a9c85f4f7bcbe92e9692045be73/requirements/dev.txt#L1

[2019-06-02 04:11] #37 closed

[2019-06-02 04:14] #34 closed

[2019-11-27 14:35] niespodd opened #40 "Create Hypernova plugin to replace Hastur"
The Rails community created their equivalent of django-react-templatetags which seems to be much better supported: https://github.com/airbnb/hypernova

Although DRTT works fine - it's fairly simple piece of code - the library provided as SSR backend "Hastur" looks a bit abandoned.

Does anyone use DRTT with Hypernova? Would it be worth integrating it? It looks like they have slightly different API

[2019-11-27 14:53] rinti commented on #40
Hi!

It should be possible to replace the provided Hastur SSR-backend through the `REACT_SSR_SERVICE`-setting and plugging in your own.

Hypernova looks super interesting though! It might be worth looking into.

[2019-12-23 08:13] AriaMoradi opened #43 "ES modules import"
I have been investigating the usage of es module imports for react components in the react template tags in order to not use a bundler in the front end tooling process. Here is where the idea came from: [Building without bundling](https://blog.logrocket.com/building-without-bundling/) and I got a working example that I will post here in the next comment

[2019-12-23 10:18] AriaMoradi opened #44 "No module named requests"
Somehow importing `django_react_templatetags.context_processors.react_context_processor` in `settings.TEMPLATES` throws a error that `requests` in not installed and the problem goes away if I install the `requests` library

here is what i got
[code]

[2019-12-23 10:23] AriaMoradi commented on #44
looks like `requests` is being imported inside `django_template_tags.ssr`:

[code]

[2019-12-23 11:09] AriaMoradi commented on #43
check out this prototype: [AriaMoradi/django-es-modules-template-tags](https://github.com/AriaMoradi/django-es-modules-template-tags)

[2019-12-24 05:16] AriaMoradi commented on #44
according to the documentation of setuptools, `extras_require` is used for:
[code]
So i think `import requests` should be a conditional import.

[2019-12-24 05:54] AriaMoradi commented on #43
To make this work I need to add a few args to the templatetags:
[code]
and `react_print` should print something like:
[code]

the first change can be done by setting `REACT_RENDER_TAG_MANAGER` to a custom version of `ReactTagManager`

the latter can not be done, the only way to change this is by changing `django_react_templatetags/templates/react_print.html` so I think the only change needed is to

[2019-12-24 07:34] AriaMoradi commented on #43
ok, I looks like you can override templates too!
just put a template with the same path (here `react_print.html`) in an app and put it above `'django-react-templatetags'` in your `settings.py`!

[2019-12-24 07:35] AriaMoradi commented on #43
I will update my prototype app then close this issue

[2019-12-24 14:51] AriaMoradi commented on #43
I published a es-modules version of this package for everyone to use.
[django-react-templatetags-es-modules](https://github.com/AriaMoradi/django-react-templatetags-es-modules/)

and example on how to use this package is found in the example project: [django-react-templatetags-es-modules-example](https://github.com/AriaMoradi/django-react-templatetags-es-modules-example/)

[2020-01-27 11:57] #44 closed

[2020-01-27 23:51] AriaMoradi commented on #43
How about adding this feature to this project?

[2020-01-28 16:19] marteinn commented on #32
Closing this due to inactivity.

[2020-01-28 16:19] #32 closed

[2020-01-28 18:52] marteinn commented on #43
Hi @AriaMoradi, I think its a interesting concept and using a custom `react_print.html` is definitely the best way to go when implementing this feature. But I don't see it as a feature of this library, mainly because I do not work with JS this way and would probably maintain it poorly :)

With that said. I think its great that you made a fork along with a example project that can show others how t

[2020-02-06 01:02] isolationism opened #46 "Support for callbacks/literals"
The current approach resolves template variables to a type, or fails. You cannot pass a literal, because the template tag forcibly passes _json_ to the component tag.

This eliminates literally half of the "IO" functionality of React, by killing the "O" part. The only way React components can communicate with the outside world is by _callback_, and this behaviour is unsupported, because functions

[2020-02-06 07:00] marteinn commented on #46
Hi @isolationism, lets see if I understand your question correctly, you want to pass on a python function into the `react_render` templatetag and you want it to run when the react component prop are generated?

We currently do not support callback functions (that in return provide react with data), but adding that as a feature would be a small task which involves overriding our json renderer to ru

[2020-02-06 07:02] marteinn commented on #43
I'm closing this issue, but lets revise it if things/trends change in the future :)

[2020-02-06 07:02] #43 closed

[2020-02-06 14:48] isolationism commented on #46
Precisely, @marteinn — If I write something like this:

[code]
... It would be great to just be able to pass `window.myProps` through as a literal. Today this fails because of two lines of code:

1. The one you observed in `props_to_json()`: https://github.com/Frojd/django-react-templatetags/blob/develop/django_react_templatetags/templatetags/react.py#L165

2. The `resolve_template_variable_else_n

[2020-02-07 13:53] niespodd commented on #46
@isolationism I'd resolve this via some uncomplicated HOC looking up callback/`window.` when mounting. Passing `raw` as you proposed could be a security issue when used carelessly.

[2020-02-07 14:14] isolationism commented on #46
I guess I'm naïve, but I don't see how it's any different from just writing a tag and two lines of JavaScript myself in a template, which is what I'll do instead. Thanks anyway.

[2020-02-07 14:14] #46 closed

[2020-02-23 16:01] marteinn commented on #40
Hi @niespodd

Hypernova is a interesting piece of technology, I've spent the day setting up a server and building a SSR integration with DRTT and it seems to be working fine, you can find the code for the service here https://github.com/Frojd/django-react-templatetags/blob/develop/django_react_templatetags/ssr/hypernova.py and installation instructions here: https://github.com/Frojd/django-react-t

[2020-03-29 00:33] mendozao opened #48 "When is the next release?"
Hey there,

I was wondering when the next release would be published to pypi? There is useful SSR code currently in the develop branch (added like a month ago) that I don't believe is in v5.4.0 build.

Thank you!

[2020-03-29 16:44] marteinn commented on #48
Hi @mendozao! The hypernova support will probably be out in the next couple of weeks, I'm currently working on integrating it into another project https://github.com/Frojd/Wagtail-Pipit/tree/feature/cra, when this implementation is complete (and we have addressed any issues stemming from the integration) we will release it. So stay tuned, I will ping you in this thread once its out. Thanks for sho

[2020-04-17 06:56] JustTSK commented on #48
Hey @marteinn! I'm also interested in implementing hypernova in our project.
Any updates on this?

[2020-04-19 06:52] marteinn commented on #48
Hi @JustTSK! It's great to see the interest regarding this feature.

So the current state is this:
- We do have support for Hypernova in the develop branch
- And we have a working example here: https://github.com/Frojd/Wagtail-Pipit/tree/feature/cra/Company-Project

What I'm currently researching before doing a official release;
- Hypernova uses another method of initializing client side component

[2020-04-23 04:59] JustTSK commented on #48
Thanks @marteinn !  Wagtail-Pipit looks like a nice reference for hypernova implementation, i will definitely take a look.

[2020-04-26 09:08] marteinn opened #49 "Add Hypernova as alternative SSR service"
The work to include Hypernova is ongoing, this issue precedes https://github.com/Frojd/django-react-templatetags/issues/40 and is meant to be a more transparent list of what needs to be done before we can release it.

- [x] Allow more complex data to be returned from SSR service (Most importantly so we can pass Hypernova id and key from service). Ref: https://github.com/Frojd/django-react-template

[2020-04-26 09:09] marteinn commented on #40
This issue has been preceded by https://github.com/Frojd/django-react-templatetags/issues/49

[2020-04-26 09:09] #40 closed

[2020-04-26 09:41] marteinn commented on #48
@JustTSK and @mendozao A quick follow up, I have created a new issue where I track the work we do to finish the Hypernova implementation. You can follow it here: https://github.com/Frojd/django-react-templatetags/issues/49. I'm closing this issue in favour of #49

[2020-04-26 09:41] #48 closed

[2020-04-28 04:51] marteinn commented on #49
Version https://github.com/Frojd/django-react-templatetags/releases/tag/v6.0.0 is now officially out. Thanks for all the help and if anyone sees a bug please file a issue. Closing.

[2020-04-28 04:51] #49 closed

[2020-04-28 05:15] marteinn opened #50 "Test case causes false negative in Travis CI"
The test `test_empty_html_are_returned_on_request_error` is being treated as an error in Travis CI, but works fine locally.

Either solve the issue (I presume the exception is bubbling) or remove the test,

Ref: https://travis-ci.org/github/Frojd/django-react-templatetags/jobs/680402586

[2020-04-28 16:27] AriaMoradi opened #51 "ReactDOMServer as a SSR service"
hey,
what are your thoughts on implementing a python bridge to call ReactDOMServer to make the html from inside of the template itself?

I'm thinking about something like this:

`{% react_dom_server_render component="ComponentName" props=component_data %}`

which will generate something like `<h1 id="ComponentName_12344565689">The data was Hello World</h1>`

and maybe create a tag for calling `Rea

[2020-06-17 03:57] WesleyJohnson commented on #46
I know this is closed by the OP, but I have some uses cases for being able to pass JS functions as well. Would be nice if this could be revisited. @isolationism  - What did you send up doing?

[2020-06-17 04:54] marteinn commented on #46
@WesleyJohnson I think this issue was resolved by adding needed functions on a global namespace (such as `window`) and retrieving them later from the component by accessing `window`. A short example:

[code]

[code]

[2020-07-21 07:18] marteinn commented on #51
Thanks for the suggestion @AriaMoradi. I know this is a matter of taste, but I think the best way to treat SSR is to have it as a  standalone application (especially when it comes to scaling, caching and monitoring). Thats why we only ship implementations to other SSR services (such as Hypernova),

But, If you would like to build something along the lines of you description, where you perhaps call

[2020-07-22 04:37] AriaMoradi commented on #51
I think making this will be useful with the same philosophy that encouraged the django developers to make their it's own server which is good for development time and fast bootstrapping. doing this makes development faster and easier and then you don't have to run your SSR service while you're developing.
And as expected you should use a REAL SSR Service at production.
For me it's the removing the

[2020-08-15 15:02] rinti opened #52 "Hypernova SSR not propagating errors correctly"
This problem might be with hypernova-python plugin. The error gets stuck inside "results" and not at the base dictionary. Eventhough I get the response that everything is OK, the SSR failed.

This is a snippet of the JSON returned from https://github.com/ornj/hypernova-python/blob/master/hypernova/__init__.py#L79

[code]

[2020-08-16 06:42] marteinn commented on #52
Thanks @rinti! Will investigate what the proper Hypernova result should look like and make sure hypernova-python follows that structure.

[2020-08-23 11:35] anthonynsimon opened #53 "XSS vulnerability: no escaping of HTML tags in rendered props"
I couldn't find a non-public channel on which to communicate the security vulnerability. Here it goes:

## Severity
**High**. The injected code could be executed on any page in which the malicious input is rendered and can affect any visitor, including site admins. This could allow attackers to hijack sessions, execute any Javascript on the browser of the visitor or even include their own HTML int

[2020-08-24 04:51] marteinn commented on #53
Thank you so much @anthonynsimon for reporting this and the thorough research! Will look into this asap and issue a new release in the upcoming days.

My tip until then is to manually escape user controlled fields before passing them to react render.

[2020-08-24 07:35] anthonynsimon commented on #53
Thank you for the really useful library :)

Looking forward to the new release!

[2020-08-24 07:36] anthonynsimon commented on #53
Thank you for the really useful library :)

Looking forward to the new release!

[2020-08-24 07:36] anthonynsimon commented on #53
Thank you for the really useful library :)

Looking forward to the new release!

[2020-08-30 14:07] marteinn commented on #53
Fixed in https://github.com/Frojd/django-react-templatetags/releases/tag/v6.0.1. Thanks again @anthonynsimon!

[2020-08-30 14:07] #53 closed

[2020-09-01 06:47] anthonynsimon commented on #53
It's working great, thanks!

[2020-09-04 15:11] retupmoca opened #54 "Removing `react_context_processor` prevents components from being rendered"
Our django application calls `react_render` in various templates to add react components to the page, and then calls `react_print` at the bottom of our main template.

If I remove the `react_context_processor` from our settings.py, as suggested by the deprecation warning, none of our components render. Adding the context processor back in results in them rendering correctly.

I believe this is cau

[2020-09-05 08:32] marteinn commented on #54
Thanks for bringing this up @retupmoca! I've seen the issue myself and the proper action here is to make the context processor mandatory again and make sure the docs reflect this.

[2020-09-05 14:07] #54 closed

[2020-09-05 14:08] marteinn commented on #54
Resolved in https://github.com/Frojd/django-react-templatetags/releases/tag/v6.0.2

[2020-09-25 04:23] dependabot-preview[bot] opened #55 "Dependabot couldn't authenticate with https://pypi.python.org/simple/"
Dependabot couldn't authenticate with https://pypi.python.org/simple/.

You can provide authentication details in your [Dependabot dashboard](https://app.dependabot.com/accounts/Frojd) by clicking into the account menu (in the top right) and selecting 'Config variables'.

[View the update logs](https://app.dependabot.com/accounts/Frojd/update-logs/48668089).

[2020-09-28 04:21] #55 closed

[2020-11-05 18:16] #51 closed

[2020-11-23 00:29] anthonynsimon opened #57 "Who is using this library?"
Not really an issue, just wanted to start a thread for projects and companies using this library, as I have found it super helpful in my case.

I can start:
- [Panelbear](https://panelbear.com/): Privacy focused analytics service.

I actually mention the library in a blog post I just published describing the tech stack in case anyone is interested: https://panelbear.com/blog/tech-stack/

Thanks a

[2020-11-24 05:49] marteinn commented on #57
Awesome @anthonynsimon, I'm glad you like it! I took a quick count and we at Fröjd have shipped approx 16 client projects since the library got built.

[2020-11-30 22:32] nnamdiib commented on #20
@marteinn Thanks so much for this lovely library. I think the `ReactDOM` part is not very well specified. I am basically a complete noob in JS frameworks, which specific file should we add the line `window.ReactDOM = ReactDOM` ?

[2020-12-01 07:36] marteinn commented on #20
@nnamdiib It depends on your project setup, if you are using webpack you can expose ReactDOM as a external variable: https://github.com/mikaelengstrom/django-react-polls-example/blob/master/frontend/webpack.config.js#L45

You can also add it in your js entrypoint file, see this example that are using Create React App: https://github.com/marteinn/django-react-polls-with-hypernova-examples/blob/mast

[2021-02-06 22:17] baranyildirim opened #58 "Hypernova SSR Example Doesn't Work"
I followed the Hypernova SSR example, but the webpages I receive are completely blank.

Tried to run the example directly, the following error occurs on the hypernova server:
[code]
Any idea why this could be?

[2021-02-07 07:58] marteinn commented on #58
Hi @baranyildirim and thanks for reporting this issue! By looking at the error, it seems like babel register has not been applied, its the bit here https://github.com/marteinn/django-react-polls-with-hypernova-examples/blob/master/example_2_with_builtin_hydration/frontend/hypernova-bootstrap.js#L4 that makes sure hypernova can support ES modules.

Before I do any research (it takes a little while

[2021-02-07 08:12] baranyildirim commented on #58
Hey @marteinn, thanks for responding.

For the example, I followed the installation guide but used yarn because npm was very slow.

Beyond the example, would it be okay if instead of using the hypernova bootstrapper, I point hypernova directly to babel bundles? This is what I do in my own application, because I want the ability to deploy hypernova easily.

I am pretty sure I have got almost everyt

[2021-02-07 08:23] marteinn commented on #58
Thanks for the additional info @baranyildirim, I just set it up locally and also got a ES module error, seems like something has broke since I set up this repo. Doing some research now, will report back when I know more.

[2021-02-07 08:52] marteinn commented on #58
Found the culprit, I found the issue while reading through issues for esm (https://github.com/standard-things/esm/issues/868), so it's basically Node introducing a breaking change in v12.16+ and it's an open issue for ESM.

The forward here is either:
- Use an older version of Node, I tested on Node v12.8 and it worked
- Monkey patch the js module loader with something like this (https://github.co

[2021-02-07 08:59] marteinn commented on #58
Just pushed out a quickfix: https://github.com/marteinn/django-react-polls-with-hypernova-examples/commit/61dca485f77266bcf84ed4774200e957c5e0b615

I'm also planning on closing this issue (will keep it open a couple of hours more for discussions) and instead open up a new issue at the https://github.com/marteinn/django-react-polls-with-hypernova-examples repo, as it is not a DRTT issue with rather

[2021-02-07 09:03] marteinn commented on #58
And here is the issue I opened on the other repo: https://github.com/marteinn/django-react-polls-with-hypernova-examples/issues/1 (I noticed that issues was deactivated for the repo, so I activated those as well).

[2021-02-07 20:27] baranyildirim commented on #58
Tried the example again and it works with Node 12.13.0

[2021-02-07 20:27] #58 closed

[2021-02-08 07:30] baranyildirim opened #59 "Recommended development environment"
Not a bug or problem with the project.

Is there a development environment that anyone would recommend for doing frontend development with django-react-templatetags?

Specifically, how do you go about developing react components and debugging them with the Django and Hypernova SSR setup?

Thanks

[2021-02-09 05:42] marteinn commented on #59
Excellent question @baranyildirim, there are sadly very few examples out there, and Hypernova is in itself is looking more and more like abandonware (last update 2 years ago - https://github.com/airbnb/hypernova), and there are few (or if any at all) standalone SSR renders like it. We at Fröjd (the agency that mainly maintain this package) maintained one of our own for a while https://github.com/F

[2021-02-09 05:51] baranyildirim commented on #59
Hey @marteinn thanks for responding. The problem I am facing is I have a Django backend, but need to use React with SSR. This has been a massive headache.  I would still like to use Django templates to some extent because I very much dislike react-router and all its variants. At Fröjd did you move away from Django completely?

[2021-02-09 05:58] marteinn commented on #59
Totally understand. We have sort of a hybrid approach where we use Next.js to serve any type of user facing frontend, but still maintain a Django backend that has an API that serves content and of course we keep the admin. You can see our current approach here: https://github.com/frojd/wagtail-pipit

I've also worked a lot with Create-React-App and Routing pains. I think Next.js has a better appro

[2021-02-09 08:48] baranyildirim commented on #59
Thank you for sharing @marteinn . For now I will continue with Hypernova and try to get hot-reloading to work somehow.

I would love to see this example if it is public.

[2021-02-09 09:36] marteinn commented on #59
NP @baranyildirim. I wish you the best of luck! And if you find a way forward, ping me so I can update our examples.

For sure! I was supposed to attach a link but somehow forgot, here it is: https://github.com/Frojd/Wagtail-Pipit/tree/c88c981abbc3d284029315bdc672f73c0cf19f47

[2021-02-15 19:34] marteinn opened #60 "Change CI provider from Travis to Github Actions"
Seeing the outcome of the [Travis CI purchase](https://medium.com/@dirk.avery/r-i-p-travis-ci-347753c73775) we should switch to another CI provider. Github actions looks like a good home for DRTT.

[2021-05-25 19:20] marteinn commented on #60
Github Actions has been added for running tests and target dependencies (python + django) has been updated to only supported non-eol version (https://endoflife.date/python). Travis has been removed.

- https://github.com/Frojd/django-react-templatetags/commit/ec97385cf9e708094c0d9de17d9fa8327e6ce9d8
- https://github.com/Frojd/django-react-templatetags/commit/2eb0cd8514ceb1589b64ecbf636e7d4615cba95

[2021-05-25 19:20] #60 closed

[2021-08-23 08:47] nanorepublica opened #62 "Issue with rendering React when using the browser back button"
Hi there,

Firstly thanks for this project! It has enabled me to start shifting to start adding React to my codebase incrementally which is amazing!

Disclaimer: This issue could be down to the particular code base I am working on. It is using this library which looks to mess with the state of the back button (https://github.com/defunkt/jquery-pjax)

This issue can be reproduced as follows:

1. Go

[2021-08-23 11:23] marteinn commented on #62
Hi @nanorepublica and thanks for the bug report! I noticed in your screen recording (much appreciated btw) that you are using PJAX and my first guess is that PJAX does not use the old "script" tag from previous state.

We have used DRTT with both Turbolinks and PJAX in the past so it should work, but both PJAX/Turbolinks needs some configuration to behave correctly.  I'm pretty sure the issue is w

[2021-08-23 12:00] nanorepublica commented on #62
Thanks for the quick response. I will have a look at my PJAX config and get back to you. Pretty sure that it will be the issue from what I can tell.

[2021-08-23 12:10] marteinn commented on #62
👍 Same here, I think the issue is the custom script tags that DRTT are mismatched due to PJAX state restore. The solution is probably to make sure PJAX includes those script tags as well.

Good luck!

[2022-01-04 05:56] marteinn commented on #62
I'm closing this issue now due to inactivity and that it is most likely unrelated to DRTT.

[2022-01-04 05:56] #62 closed

[2022-01-04 05:59] marteinn commented on #59
I'm closing this issue as it is an already answered question.

[2022-01-04 05:59] #59 closed

[2022-01-04 06:54] marteinn commented on #50
Closing this issue as it is outdated and already resolved.

[2022-01-04 06:54] #50 closed

[2022-02-15 16:35] code-review-doctor opened #63 "Some tests misusing assertTrue for comparisons"
`assertTrue` is not for comparing arguments, should use `assertEqual` for that.

The developer's intent of the test was to compare argument 1 with argument 2, which is not happening. Really what is happening is the test is passing because first argument is truthy. The correct method to use is assertEqual. [more details](https://codereview.doctor/features/python/best-practice/avoid-misusing-unittes

[2022-02-15 20:04] tay-solis opened #65 "Uncaught ReferenceError: Component is not defined"
Hello!

Thank you for this fantastic library. I'm working on implementing it for a new project, and I'm running into an issue in the initial set up.

I've got the React and ReactDOM global imports working, but the script tag is throwing `Uncaught ReferenceError: KnowledgeBase is not defined`. I've looked through both examples but I can't figure out what I'm doing wrong.

How can I get this compone

[2022-02-15 21:15] tay-solis commented on #65
I got it running by adding `window.KnowledgeBase = KnowledgeBase;` to the index.js file. Is this how I'm supposed to do it?

[2022-02-16 05:38] marteinn commented on #65
Hi @tay-solis!

That is correct, you need to expose your component so they can be referenced to in the rendering process. You can either do it just like you did, by making the component a global variable or adding it to a object that we later expose (here is an example in webpack https://github.com/mikaelengstrom/django-react-polls-example/blob/master/frontend/app/index.js).

For bigger apps I wou

[2022-04-26 14:13] matttk opened #66 "React 18?"
React 18 replaces `render` with `createRoot` and `root.render`. ([how to upgrade](https://reactjs.org/blog/2022/03/08/react-18-upgrade-guide.html))

Is there a plan to update [django-react-templatetags](https://github.com/Frojd/django-react-templatetags) to support React 18?

[2022-05-13 09:20] marteinn commented on #66
Hi @matttk! Yes for sure, we just need to find the time to do some proper maintenance :)

For now, the best approach is to override the template https://github.com/Frojd/django-react-templatetags/blob/main/django_react_templatetags/templates/react_print.html

I'm renaming this issue and will have it on top of our todo list when we find the time.

[2022-05-13 09:21] #65 closed

[2022-05-13 09:23] marteinn opened #67 "Change recommended namespace from window.Components to window.ReactComponents to avoid clashes with the builtin browser namespace"

[2022-07-18 09:02] krystofbe commented on #66
for reference: i'm using this snippet right now (without hydration)

[code]

with these imports
[code]